In [1]:
import sys
sys.path.insert(0, '../../scripts/')

In [2]:
# import required packages
import pandas as pd
import numpy as np

# preprocess
from sklearn.feature_extraction.text import CountVectorizer

# local scripts
from text_utils import preprocess_corpus

In [3]:
df = pd.read_csv('../../data/train_data.csv')

# dataframe shape: (rows, columns)
display(df.shape)

# first 5 datapoints
display(df.head())

(3192, 2)

                                            Sentence Sentiment
0  UPM-Kymmene is one of the world 's leading pri...  positive
1  Nokia was up 0.12 pct to 16.70 eur after kicki...  positive
2  Mr K.R. Vasantha has been appointed Managing D...   neutral
3  Consolidated net sales increased 16 % to reach...  positive
4  CS Cabot exports 55 % of its production mainly...   neutral

In [4]:
# preprocess documents
# remove special characters, stopwords
# lemmatization
clean_sentence = preprocess_corpus(df.Sentence)

clean_sentence.head()

0    upm kymmene one world lead print paper produce...
1        nokia pct eur kick morning negative territory
2    vasantha appoint manage director incap contrac...
3    consolidated net sale increase reach eur opera...
4    cabot export production mainly goodyear bridge...
Name: Sentence, dtype: object

In [5]:
# instantiate a CountVectorizer
cv = CountVectorizer(min_df=4, max_df=0.01)

# train and construct bag of words
counts = cv.fit_transform(clean_sentence)

In [6]:
# extract bag of words as dataframe
df_bow = pd.DataFrame(counts.A, columns=cv.get_feature_names_out())

# include Sentiment column
df_bow['Sentiment'] = df['Sentiment']

# shape
display(df_bow.shape)

# first 5 datapoints
df_bow.head()

(3192, 1355)

,able,abp,abroad,access,accessory,accordance,account,accumulate,acerta,across,...,write,www,yahoo,yesterday,yet,yhoo,yit,zinc,zone,Sentiment
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,positive
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,positive
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,neutral
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,positive
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,neutral